body{
	background:#A4A4A4;
}


#imagelogo{
	float:right;
	
}

.page-header{
	background: gray;
	color:white;
	padding-top: 10px;
}

.login{float:right;margin-right: 1%;}
.logout{float:right;margin-right: 2%;}
.search{ float:left;
}
.logins{
	margin-bottom: 15px;
}
#titlelogo{
	float:right;
	padding-left: 15px;
}

h1 em{
	position:relative;
	left:-150px;
	
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	}
.btn-warning,.btn-success,.btn-danger,.btn-primary,.btn-info
{
	display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  }
  
.btn-warning:active,.btn-success:active,.btn-danger:active,.btn-primary:active,.btn-info:active{
	box-shadow: 0 5px #666;
  transform: translateY(4px);

}
button{
	 outline:none !important;
}
td p{
	text-align:center;
	padding-top:20px;
		padding-bottom:20px;
	
}
div#menu{
background-color: #471F37;
position: relative;
z-index: 200;
}

table.navbar
{font: bold 16px/.5 sans-serif;
text-shadow: #000000 1px 1px 1px;
margin: 0px;
padding: 0px;
position: relative;
z-index: 20 
}

table.menu
{font-size: 10pt;
margin: 0px;
padding: 0px;
}

td.menuNormal
{padding: 0px 0px 0px 5px;
width: 160px;
height: 50px;
color: white;
vertical-align: top; /* Sets the vertical alignment to the top of the div */
background: #471F37;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2c4b', endColorstr='#471F37'); /* for IE */
background-image: -webkit-gradient(linear, left top, left bottom, from(#5f2c4b), to(#471F37)); /* for webkit browsers */
background-image: -moz-linear-gradient(top,  #5f2c4b,  #471F37); /* for firefox 3.6+ */ 
border-right:1px solid #5f2c4b;
border-left: 1px solid #471F37;
}

td.menuHover
{padding: 0px 0px 0px 5px;
width: 160px;
color: #0bd4ff;
vertical-align: top;
/*remove the following lines for drop-down menu with images*/
background: #471F37;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2c4b', endColorstr='#471F37'); /* for IE */
background-image: -webkit-gradient(linear, left top, left bottom, from(#5f2c4b), to(#471F37)); /* for webkit browsers */
background-image: -moz-linear-gradient(top,  #5f2c4b,  #471F37); /* for firefox 3.6+ */ 
border-right:1px solid #5f2c4b;
border-left: 1px solid #471F37;
}

div.menuNormal
{display: none; /* States that this div should not display */
font: 12px/1.5 tahoma, sans-serif;
position: static; /* Tells the element to just flow with everything else */
}

div.menuHover
{
font: 14px/1.5 tahoma, sans-serif;
background: #471F37;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2c4b', endColorstr='#471F37'); /* for IE */
background-image: -webkit-gradient(linear, left top, left bottom, from(#5f2c4b), to(#471F37)); /* for webkit browsers */
background-image: -moz-linear-gradient(top,  #5f2c4b,  #471F37); /* for firefox 3.6+ */ 
display: inline; /* Tells the div to generate an inline box with no line break*/
position: absolute; /* Positions the element relative to the parent */
}

a.menuitem:link
{text-decoration: none;
color: white;
padding: 2.5px;
background: #471F37;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2c4b', endColorstr='#471F37'); /* for IE */
background-image: -webkit-gradient(linear, left top, left bottom, from(#5f2c4b), to(#471F37)); /* for webkit browsers */
background-image: -moz-linear-gradient(top,  #5f2c4b,  #471F37); /* for firefox 3.6+ */ 
text-shadow: #000000 1px 1px 1px;
display: block;
} /* Display a line break before and after the box */

a.menuitem:visited
{text-decoration: none;
color: white;
padding: 2.5px;
background: #471F37;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2c4b', endColorstr='#000f2e'); /* for IE */
background-image: -webkit-gradient(linear, left top, left bottom, from(#5f2c4b), to(#000f2e)); /* for webkit browsers */
background-image: -moz-linear-gradient(top,  #5f2c4b,  #471F37); /* for firefox 3.6+ */ 
border-bottom: 1px solid #5f2c4b;
border-top: 1px solid #471F37;
display: block;} /* Display a line break before and after the box */

a.menuitem:hover
{text-decoration: none;
color: #0bd4ff;
padding: 2.5px;
background: #471F37;
border-bottom: 1px solid #5f2c4b;
border-top: 1px solid #471F37;
display: block;} /* Display a line break before and after the box */

a.menuitem:active
{text-decoration: none;
color: #D8AFBE;
padding: 2.5px;
background: #5f2c4b;
border-bottom: 1px solid #5f2c4b;
border-top: 1px solid #471F37;
display: block;} /* Display a line break before and after the box */



div.middleTitle {
		font: 14px/1.4 'PT Sans Narrow', sans-serif;
		background-color: #471F37;
		color: #FFF;
		width: 188px;
		height: 26px;
		margin-top: 5px;
		text-align: right;
		padding-right: 7px;
		
		position: relative;
			z-index: 10;
	}
	
	.featuredImage {
		position: relative;
		left: 1px;
		top: -30px;
	}
	
	
	.middleContainer{
		background: white;
		border:2px solid gray;
		margin-top:10px;
		margin-bottom:10px;
		
	}
	
	.middleArtTitle {
	text-align: center;
		
		padding-left: 4px;
	}	

	
	.prodMoreInfoBut {
		background-color: #535353;
		height: 28px;
		width: 120px;
		margin-top:15px;
		margin-left: 5px;
		margin-bottom:15px;
		padding:4px;
		text-align:center;
		
	}
	.prodMoreInfoBut a{
		text-decoration: none;
		color: #fff;
	}
	.prodMoreInfoBut:hover {
		background-color: #666;
	}
	.prodAddToCartBut {
		float:right;
		background-color: #3c89b5;
		height: 28px;
		width: 120px;
		position:relative;
		top:-58px;
		margin-top:15px;
		margin-right: 5px;
		padding:4px;
		text-align:center;
	}
	
	.prodAddToCartBut a{
		text-decoration: none;
		color: #fff;
	}
	
	.prodAddToCartBut:hover {
		background-color: #666;
	}
	
.rightContainer {
		background-color: #FFF;
		border: 3px solid #000;
		padding: 2px;
		height: auto;
	}
	
	.horzMidRule {
		background-color: #471f37;
		height: 2px;
		
	}
	.socialIcons a{
		text-decoration: none;
		color: #471F37;
		margin-left: 40px;
		margin-top: 4%;
	}
	
	.socialIcons {
		margin-bottom:20px;
		margin-right: 30px;
		margin-top: 3%;
		padding: 5px;
		font-size: 25px;
	}
	#footer {
		background: #471F37;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2c4b', endColorstr='#471F37'); /* for IE */
		background-image: -webkit-gradient(linear, left top, left bottom, from(#5f2c4b), to(#471F37)); /* for webkit browsers */
		background-image: -moz-linear-gradient(top,  #5f2c4b,  #471F37); /* for firefox 3.6+ */ 
		float: left;
		width: 1870px;
		height: 100px;
		text-align: center;
		color:white;

	}
	
	#footer a{
	text-decoration: none;
	color:white;
	}
	
	
	
	
	em,marquee{
		color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #F781F3, 0 0 5px #8A0886;
	font-size: 25px;
	}

.bar{
	float:left;
}



.moreinfo1{display:none;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}
.moreinfo2{display:none;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}
.moreinfo3{display:none;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}
.moreinfo4{display:none;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}
.moreinfo5{display:none;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}
.moreinfo6{display:none;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;}